<table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Date</th>
            <th>Author</th>
            <th>Tags</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="article in articles | orderBy:'date':true">
            <td>{{article.id}}</td>
            <td><a ui-sref="admin.article({articleId: article.id})">{{article.title}}</a></td>
            <td>{{article.date}}</td>
            <td>{{article.author}}</td>
            <td>{{article.tags}}</td>
        </tr>
    </tbody>
</table>