<div class="pure-g-r">
	<form class="pure-u-1" novalidate>
		<input class="pure-u-1" type="text" ng-model="article.Title" placeholder="Title" required>
		<div class="pure-u-3-5">
			<textarea class="pure-u-1" ng-model="article.Content" placeholder="Content"></textarea>
			<div class="pure-u-1" ng-bind-html="article.Content | markdown"></div>
		</div>
		<div class="pure-u-1-5">
			<input class="pure-u-1" type="text" ng-model="article.Date" placeholder="Date(Optional)">
			<input class="pure-u-1" type="text" ng-model="article.Tags" placeholder="Tags">
			<div class="pure-u-1">
				<button class="pure-button" ng-click="draft(article)">Save Draft</button>
				<button class="pure-button" ng-click="post(article)">Post</button>
			</div>
		</div>
	</form>
</div>