<script type="text/javascript" src="http://cdn.staticfile.org/marked/0.2.9/marked.min.js"></script>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">Site Title</a>
    <ul>
        <li class="pure-menu-selected"><a ui-sref="admin.dashboard">Dashboard</a></li>
        <li><a ui-sref="admin.articles">Articles</a></li>
        <li><a>About</a></li>
        <li><a>Profile</a></li>
        <li><a ui-sref="admin.new">New</a></li>
    </ul>
</div>

<div ui-view></div>
