<!doctype html>
<html lang="en" ng-app="martianblog">
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/custom.css">
	<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/pace/0.4.10/themes/pace-theme-minimal.css">
</head>
<body>
	<div class="pure-g-r" ui-view></div>
	
	<script type="text/javascript" src="http://cdn.staticfile.org/pace/0.4.10/pace.min.js"></script>
	<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.js"></script>
	<script type="text/javascript" src="http://cdn.staticfile.org/angular.js/1.2.0/angular.min.js"></script>
	<script type="text/javascript" src="http://cdn.staticfile.org/angular.js/1.2.0/angular-resource.min.js"></script>
	<script type="text/javascript" src="http://cdn.staticfile.org/angular-ui-router/0.2.0/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
	<script type="text/javascript" src="/static/js/controllers.js"></script>
	<script type="text/javascript" src="/static/js/filters.js"></script>
	<script type="text/javascript" src="/static/js/services.js"></script>
</body>
</html>