/* Base variables and mixins */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Base variables and mixins */
/* line 10, ../sass/_screen.scss */
body {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e3537), color-stop(100%, #6ca49b));
  background-image: -webkit-linear-gradient(#2e3537, #6ca49b);
  background-image: -moz-linear-gradient(#2e3537, #6ca49b);
  background-image: -o-linear-gradient(#2e3537, #6ca49b);
  background-image: linear-gradient(#2e3537, #6ca49b);
  background-repeat: no-repeat; }

/* line 15, ../sass/_screen.scss */
.round {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  padding: 20px;
  background-image: url("/static/img/round-border.svg"); }

/* line 22, ../sass/_screen.scss */
.article {
  position: relative;
  margin-top: 50px;
  margin-right: 2%;
  margin-left: 2%;
  padding: 1.5em;
  line-height: 2em; }
  /* line 30, ../sass/_screen.scss */
  .article .separator-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 35%;
    border: 2px solid white;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  /* line 44, ../sass/_screen.scss */
  .article .separator-bottom {
    position: absolute;
    right: -3px;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 60%;
    border: 1px solid white;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }

/* line 58, ../sass/_screen.scss */
form {
  margin: 0 auto; }

/* line 62, ../sass/_screen.scss */
#login {
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-image: url("/static/img/login-bg.png"); }
  /* line 67, ../sass/_screen.scss */
  #login .pure-u-1 {
    text-align: center; }
  /* line 71, ../sass/_screen.scss */
  #login button {
    width: 114px;
    height: 114px;
    border: none;
    background-color: transparent;
    color: white; }

/* Base variables and mixins */
/* line 4, ../sass/_print.scss */
body {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: white; }

/* line 9, ../sass/_print.scss */
a {
  color: white; }

/* line 13, ../sass/_print.scss */
header {
  margin-top: 70px;
  text-align: center; }
  /* line 16, ../sass/_print.scss */
  header h1 {
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-size: 3em; }
  /* line 22, ../sass/_print.scss */
  header h2 {
    margin-top: 0; }
  /* line 25, ../sass/_print.scss */
  header img {
    border-radius: 50%;
    vertical-align: top; }

/* line 34, ../sass/_print.scss */
.article .article-title a:hover {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  color: #df234f; }
/* line 41, ../sass/_print.scss */
.article .article-content a {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0.2em 0.3em;
  color: white; }
  /* line 48, ../sass/_print.scss */
  .article .article-content a:before {
    content: "\f08e";
    font-family: FontAwesome; }
  /* line 53, ../sass/_print.scss */
  .article .article-content a:hover {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    color: #df234f; }
/* line 57, ../sass/_print.scss */
.article .article-content code {
  margin-right: 5px;
  margin-left: 5px;
  padding: 0.2em 0.3em;
  border: 1px dashed white;
  border-radius: 2px; }
/* line 65, ../sass/_print.scss */
.article .article-content pre {
  display: block;
  overflow: auto;
  background-color: #23241f;
  white-space: pre;
  word-wrap: normal; }
  /* line 72, ../sass/_print.scss */
  .article .article-content pre code {
    display: inline-block;
    width: auto;
    border: none; }

/* line 82, ../sass/_print.scss */
footer {
  margin-top: 30px;
  text-align: center; }
  /* line 86, ../sass/_print.scss */
  footer p {
    right: 50%;
    left: 50%;
    margin-bottom: -20px; }
