body,
.pure-g [class*="pure-u"],
.pure-g-r [class*="pure-u"] {
  /* Set you're content font stack here: */
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }

body {
  background-image: url("/static/img/bg.png");
  -webkit-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: white; }

a {
  color: gray;
  text-decoration: none; }

header {
  margin-top: 70px;
  text-align: center; }
  header h1 {
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-size: 3em; }
  header h2 {
    margin-top: 0; }
  header img {
    border-radius: 50%;
    vertical-align: top; }

.content {
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 2em;
  color: white; }
  .content .separator {
    border-top: 1px dashed white; }

.round {
  display: inline-block;
  padding: 20px;
  background-image: url("/static/img/round-border.svg");
  -webkit-background-size: cover; }
