body {
	color: #2e3641;
	font-family: 'Asap', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

a {
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

input[type="text"], 
input[type="email"], 
input[type="date"], 
input[type="password"] {
	width: 100%;
	height: 2.3em;
	border: 1px solid #dae4eb;
	text-indent: 0.7em;
	font-size: 1.2em;
	font-family: 'Bree Serif', sans-serif;
}

input[type="checkbox"] {
	display: none;
}

.checkbox {
	margin-bottom: 0px;
	padding-left: 10px;
}

.checkbox label {
	position: relative;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
	padding-left: 25px;
	color: #b8c7d1;
	font-size: 1em;
	cursor: pointer;
}

.checkbox label:before {
	position: absolute;
	bottom: 0px;
	left: 0;
	display: inline-block;

	margin-left: -7px;

	width: 1.3em;
	height: 1.3em;
	border: 1px solid #dae4eb;
	content: "";
	font-size: 1.3em;
}

input[type="checkbox"]:checked + label:before {
	color: #f3f3f3;
	content: url("/static/img/checkmark.png");
}

::-webkit-input-placeholder {
	color: #dae4eb;
}

input:-moz-placeholder {
	color: #dae4eb;
}

input:focus, textarea:focus {
	outline: none;
}

textarea {
	padding: 5px;
	width: 100%;
	height: 300px;
	border: 1px solid #dae4eb;
	color: #9eb2c0;
	font-size: 1.0em;
	font-family: 'Menlo', sans-serif;
	line-height: 1.1em;
	resize: none;
}

/* Customize Bootstrap */
.glyphicon {
	top: 0;
}

.nav > li > a {
	padding: 20px;
}

.nav-stacked > li + li {
	margin-top: 0;
}

/* Sidebar */
.sidebar {
	height: 100%;
	background-color: #2e3641;
	font-size: 1.3em;
}

.sidebar a {
	color: #c1cfd9;
}

.sidebar a:hover {
	color: #2e3641;
}

.sidebar .active {
	background-color: #ffffff;
	color: #2e3641;
}

/* Editor */
#editor {
	margin-top: 20px;
}

#button-bar {
	height: 3em;
}

#button-bar {
	background-color: #2e3641;
}

#button-bar .button-row {
	margin-bottom: 0;
	padding: 0;
	height: 100%;
	list-style: none;
}

#button-bar .button-row li {
	display: inline-block;
	padding: 0;
	height: 100%;
	border-right: 1px solid #3a414d;
}

#button-bar .button-row a {
	padding: 13px 14px;
	height: 100%;
	color: #c1cfd9;
}

#button-bar .button-row a:hover {
	background-color: #eee;
	color: #2e3641;
	text-decoration: none;
}

#editor textarea.edit {
	border-top: none;
}

/* Preview Div */
#preview {
	margin-top: 20px;
	padding: 5px;
	border: 2px dashed #dae4eb;
}

/* Article configurations sidebar */
#configuration {
	margin-top: 20px;
}

#configuration, 
#configuration .panel {
	border: none;
	border-radius: 0;
	box-shadow: none;
}

#configuration .panel .panel-heading {
	height: 42px;
	border: none;
	border-radius: 0;
	background-color: #c1cfd9;
	color: #fff;
}

#configuration .panel-heading+.panel-collapse .panel-body {
	border: 1px solid #dae4eb;
	border-top: none;
}

/* Article styles */
.article {
	color: #2e3641;
	font-size: 1.1em;
	font-family: 'Asap', sans-serif;
	line-height: 1.1em;
}

.article pre, 
.article code {
	border: none;
	border-radius: 0;
}

.article h1, 
.article h2, 
.article h3, 
.article h4, 
.article h5, 
.article h6 {
	margin-top: 10px;
}