@import "compass/css3";
@import "base";

body {
	@include fonts;
	color: $font-color;
}

a {
	color: $font-color;
}

header {
	margin-top: 70px;
	text-align: center;
	h1 {
		margin-top: 10px;
		margin-bottom: 0;
		letter-spacing: 1px;
		font-size: 3em;
	}
	h2 {
		margin-top: 0;
	}
	img {
		border-radius: 50%;
		vertical-align: top;
	}
}

.article {
	.article-title {
		a {
			&:hover {
				@include link-hover;
			}
		}
	}

	.article-content{
		a {
			// text-decoration: none;
			@include transition(all 0.1s ease-in-out);
			margin-right: 5px;
			margin-left: 5px;
			padding: 0.2em 0.3em;
			color: $font-color;
			&:before {
				content: "\f08e";
				font-family: FontAwesome;
			}
	
			&:hover {
				@include link-hover;
			}
		}
		code {
			margin-right: 5px;
			margin-left: 5px;
			padding: 0.2em 0.3em;
			border: 1px dashed white;
			border-radius: 2px;
		}
		
		pre {
			display: block;
			overflow: auto;
			background-color: #23241f;
			white-space: pre;
			word-wrap: normal;
		
			code {
				display: inline-block;
				width: auto;
				border: none;
			}
		}
		}

}
	
footer {
	margin-top: 30px;
	text-align: center;

	p {
		right: 50%;
		left: 50%;
		margin-bottom: -20px;
	}
}